@mixin flexFunction {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    @include flexFunction();
    background: lightblue;
    height: 100vh;
    color: $textColor;
    button {
        background: $primaryBtn;
        &:hover {
            background-color: orange;
        }
        &::after {
            content: "Hellllooooo";
        }
    }
    .text-title {
        background-color: yellow;
    }
}