header {
    background: lightblue;
    display: flex;
    justify-content: center;
    color: $textColor;
    button {
        background: $primaryBtn;
        &:hover {
            background-color: orange;
        }
        &::after {
            content: "Hellllooooo";
        }
    }
    .text-title {
        background-color: yellow;
    }
}