$primaryBtn: hsla(90, 92%, 64%, 0.8);
header {
    background: lightblue;
    display: flex;
    justify-content: center;
}

header button {
    background: red;
}

.contact button {
    background: red;
}