@import "./variables";
@import "./header";
// .contact {
//     @include flexFunction(row, blue);
// }
.contact {
    @extend header;
    background-color: blue;
    width: 70%+30%;
}

.contact button {
    background: $primaryBtn;
}